li {
  margin: 16px auto auto;
  background-color: aliceblue;
  border-radius: 5px;
  width: 80%;
  padding: 8px;
}

mat-form-field {
  font-size: 1.2em;
  width: 45%;
}

.check-in mat-form-field, .check-out mat-form-field {
  margin-right: 16px;
}

.action-container {
  display: inline-block;
  float: right;
}

.action-container button {
  margin-left: 8px;
}

li > mat-form-field {
  display: block;
}


li.new-entry {
  background-color: #FED000;
}
